.hero {
  background-color: rgb(14, 34, 60);
}
.title {
  @apply mb-4 text-4xl font-extrabold tracking-tight text-white;
}

.react {
  color: rgb(99, 156, 230);
}
.reactnative {
  color: rgb(94, 132, 209);
}
.nextjs {
  color: rgb(94, 118, 147);
}
.javascript {
  color: rgb(224, 209, 9);
}
.typescript {
  color: rgb(82, 138, 250);
}
.css {
  color: rgb(38, 77, 228);
}
.tailwind {
  color: rgb(52, 144, 220);
}
.node {
  color: rgb(104, 160, 99);
}
.mongo {
  color: rgb(12, 212, 91);
}
.html {
  color: rgb(240, 101, 41);
}
.graphql {
  color: rgb(229, 53, 171);
}
